.main-container {
    display: flex;
    height: 100vh;
    margin-top: 20px;
    background-color: #f6f5f5;
}

.contacts-table {
    flex: 3;
    overflow-y: auto;
}

.action-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
}

.action-buttons a {
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}
.action-buttons a:hover {
    background-color:blue;
    color: white;
}

.table-element th{
    border: 2px solid black;
}
.table-element td{
    border: 1px solid black;
}
