.main-container {
    display: flex;
    height: 100vh;
    margin-top: 0px;
    background-color: #f6f5f5;
    text-align: center;
}

.contacts-table {
    flex: 2;
    overflow-y: auto;
}

.action-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
}

.action-buttons a {
    border: 2px solid black;
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}

.action-buttons a:hover {
    background-color:blue;
    color: white;
}

.table-element th{
    border: 2px solid black;
    width: 25px;
}
.table-element td{
    border: 1px solid black;
    width: 213px;
}

.top-text {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.head-container {
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}
