<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Contact Book</title>
</head>
<body>
    <h1>A Contacts Book</h1>

    <div class="contacts_table">
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>E-Mail</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dancing_cat.jpg</td>
                    <td>-99</td>
                    <td>Lionel</td>
                    <td>Ronaldo</td>
                    <td>+380123456789</td>
                    <td>randomniy@email.com</td>
                    <td>North Korea</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <ul>
            <li><a href="">New Contact</a></li>
            <li><a href="">Edit Contact</a></li>
            <li><a href="">Delete Contact</a></li>
            <li><a href="">Contact Info</a></li>
            <li><a href="">Display</a></li>
        </ul>
    </div>
</body>
</html>